<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "Favorite" %></h1>
  <p>A place to show off your favorite movies</p>
</section>

Start looking at other people pages and then sign up and create one for yourself!

