Check out our
<%= link "catalogue of movies", to: Routes.movie_path(@conn, :index) %>
!

<br><br>

Start looking at other user pages and create a page for yourself!

<br><br>
<article class="column">
  <h4>Users</h4>

<ul class="collection">
  <%= for user <- @users do %>
    <li class="collection-item">
      <%= link user.name, to: Routes.page_path(@conn, :show, user.login)  %>
    </li>
  <% end %>
</ul>

</article>
